@import "fonts"

////////////////////////////////
 //Variables//
////////////////////////////////
// Colors
$main-text: #F1F1F1
$main-bg: #000
$accent: #F15F
$accent-bg: #00FFFF
$accent-light: #eee
$accent-dark: darken(#fff, 80%)
// Fonts
$main-font: 'roboto' // available 100, 400, 700
$eng-font: 'poppins' // available 100, 400, 500, 700

////////////////////////////////
    //Defaults//
////////////////////////////////

*, *::before, *::after
    box-sizing: border-box

*
    margin: 0
    padding: 0
    font: inherit

li, a, button, .btn, ::placeholder
    transition: all .25s ease-in-out

a
    color: white
    text-decoration: none
    &:hover
        color: $accent
    &:focus
        outline: none

ul
    margin: 0
    padding: 0
    list-style-type: none

////////////////////////////////
    //Main//
////////////////////////////////

body
    color: $main-text
    background-color: $main-bg
    font-family: $main-font

.hero
    position: relative
    padding: 0 1em
    display: grid
    grid-template-rows: 1fr 0.1fr
    align-items: center
    min-height: 97vh
    border-bottom: 1px solid $accent-dark
    .hero-title
        margin: 0
        text-align: center
        cursor: pointer
        &--headline
            text-transform: uppercase
            font-family: $eng-font
            font-size: 4rem
            font-weight: 700
    .hero-parallax
        display: flex
        justify-content: center
        align-self: end
        .nav-list
            display: flex
            padding-bottom: 1em
            .nav-link
                min-width: 140px
                text-align: center
                font-size: 0.8rem
                font-weight: 100
                letter-spacing: 2px
                color: darken(white, 50%)
                &:hover, &:active, &:focus
                    color: $accent-light
                &:after
                    content: ""
                    position: relative
                    width: 0
                    height: 1px
                    display: block
                    z-index: 100
                    background-color: $accent-bg
                    transition: .3s ease-out
                    left: 50%
                    top: 25px
                    transform: translateX(-50%)
                &:hover:after
                    width: 50%

////////////////////////////////
    //Media//
////////////////////////////////
@import "media"
