@font-face {
  font-family: "poppins";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/RobotoLight.eot");
  src: url("../fonts/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype");
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

::-webkit-input-placeholder {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

::-moz-placeholder {
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

:-ms-input-placeholder {
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

::-ms-input-placeholder {
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

li, a, button, .btn, ::placeholder {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #ff1155;
}
a:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  color: #F1F1F1;
  background-color: black;
  font-family: "roboto";
}

.hero {
  position: relative;
  padding: 0 1em;
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 97vh;
  border-bottom: 1px solid #333333;
}
.hero .hero-title {
  margin: 0;
  text-align: center;
  cursor: pointer;
}
.hero .hero-title--headline {
  text-transform: uppercase;
  font-family: "poppins";
  font-size: 64px;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
.hero .hero-parallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: end;
}
.hero .hero-parallax .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.5em;
}
.hero .hero-parallax .nav-list .nav-link {
  min-width: 140px;
  text-align: center;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 2px;
  color: gray;
}
.hero .hero-parallax .nav-list .nav-link:hover, .hero .hero-parallax .nav-list .nav-link:active, .hero .hero-parallax .nav-list .nav-link:focus {
  color: #eee;
}
.hero .hero-parallax .nav-list .nav-link:after {
  content: "";
  position: relative;
  width: 0;
  height: 1px;
  display: block;
  z-index: 100;
  background-color: cyan;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  left: 50%;
  top: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero .hero-parallax .nav-list .nav-link:hover:after {
  width: 50px;
}
