{% extends "admin/base.html" %}

{% load static %}

{% block title %}
    {% comment %} Default is {{title}} {% endcomment %}
    {% comment %}
        Link to default template:
        https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/base.html
        https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/base_site.html
    {% endcomment %}
    {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrahead %}
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
{% endblock extrahead %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
