{% extends "base.html" %}

{% block hero %}
    <section class="hero">
        <h1 class="hero-title" id="hero-title-effect">Telegram Notify</h1>
        <div class="hero-parallax">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="#">Описание</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Сервисы</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Цены</a></li>
            </ul>
        </div>
    </section>
{% endblock hero %}

{% block content %}
{% endblock content %}
