{% extends "base.html" %}

{% load static %}

{% block title %}Главная - {% endblock title %}

{% block hero %}
    <section class="hero">
        <div class="hero-title">
            <h1 class="hero-title--headline">
                <a id="hero-title-effect" href="https://t.me/rabota_notify_bot" target="blank">Telegram Notify</a>
            </h1>
        </div>
        <div class="hero-parallax">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link link-1" href="#">Описание</a></li>
                <li class="nav-item"><a class="nav-link link-2" href="#">Сервисы</a></li>
                <li class="nav-item"><a class="nav-link link-3" href="#">Цены</a></li>
            </ul>
        </div>
    </section>
{% endblock hero %}

{% block content %}
{% endblock content %}

{% block inline_javascript %}
    <script src="{% static 'js/hero-anim.js' %}"></script>
{% endblock inline_javascript %}
